<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820048701138-crggge0pdiufrt4b5qkqe73v3kgdq2st.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820048701138-crggge0pdiufrt4b5qkqe73v3kgdq2st</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>820048701138-ho5tsfeosbnc0kfo9huh8a1k70c1t4do.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhfujERCNbKoa7wi4k6TNpCYyDRKMbHFI</string>
	<key>GCM_SENDER_ID</key>
	<string>820048701138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inmotion.bellefu</string>
	<key>PROJECT_ID</key>
	<string>bellefu-radio</string>
	<key>STORAGE_BUCKET</key>
	<string>bellefu-radio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820048701138:ios:a4b18dd95dc8bf64246f0b</string>
</dict>
</plist>